[Unit]
Description=uWSGI instance to serve Constellation
After=network.target

[Service]
User=constellation
Group=nginx
WorkingDirectory=/opt/constellation
ExecStart=uwsgi --ini /opt/constellation/uwsgi.ini

[Install]
WantedBy=multi-user.target
